/* You can add global styles to this file, and also import other style files */

body {
  color: white;
  font-family: Helvetica, sans-serif;
  background-image: url('/assets/cosmos.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
