:host {
  display: inline-block;
  max-width: 120px;
  margin: 10px;
  text-align: center;
}

img {
  max-width: 100%;
  margin-bottom: 20px;
}

.health {
  background-color: red;
  height: 10px;
}

.health div {
  background-color: green;
  height: 100%;
}

.property {
  display: inline-block;
  font-size: 10px;
  margin: 4px;
  color: grey;
}

.property.active {
  color: white;
}

.images {
  position: relative;
}

.images .pilot {
  position: absolute;
  bottom: -10px;
  right: -5px;
  width: 35%;
  background-color: rgba(0, 0, 0, 0.605);
  padding: 5px;
  border-radius: 50%;
}
