<div class="hangar-section">

  <div class="sub-nav">
    <a routerLink="production" routerLinkActive="active">Production</a>
    &nbsp;
    <a routerLink="destruction" routerLinkActive="active">Destruction</a>
  </div>

  <h1>Hangar</h1>
  <app-space-ship *ngFor="let spaceShip of spaceShips | async" [spaceShip]="spaceShip">
    <button *ngIf="selectedPilot && !spaceShip.pilot" (click)="assignPilot(spaceShip)">Pilotuj</button>
    <button *ngIf="spaceShip.pilot" (click)="deassignPilot(spaceShip)">Opuść</button>
  </app-space-ship>
</div>

<div class="hangar-section">
  <app-pilot-room (selected)="selectedPilot = $event"></app-pilot-room>
  <!-- <app-engineers-room></app-engineers-room> -->
  <router-outlet></router-outlet>
</div>
